body{display: grid;background-image:url(/image/pexels-pixabay-259915.jpg); color:white ;}
table{padding: 3ch;font-size:xx-large;}
footer input{width:50ch; border-width: 1ch;padding:3ch;margin: 10ch; align-items: center;}